/* Подключаем шрифты */
@font-face {
    font-family: 'Gilroy';
    src: url(../fonds/gilroy-bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonds/gilroy-semibold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonds/gilroy-regular.ttf);
    font-weight: 400;
}

/*
    определяем для всего тела документа 
    одно семейство шрифтов
*/
body {
    font-family: 'Gilroy';
    margin: 0;
}

/*убираем все отступы по умолчанию во всех кнопках*/
button {
    padding: 0;
    border: 0;
}

/*убираем все отступы по умолчанию во всех списках*/
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*убираем декорации по умолчанию ссылок*/
a {
    text-decoration: none;
}

/* Стили кнопок */
.btn {
    background: #ff7129;
    box-shadow: 0px 4px 28px 0px #ff71294a;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    display: block;
    padding: 16px 45px;
}

.btn-dark {
    background-color: #20242d;
    border: 1px solid #ff7129;
    box-sizing: border-box;
    box-shadow: 0px 4px 28px 0px #ff7129ab;
}

/*главный контейнер центровщик*/
.container {
    width: 100%;
    max-width: 1600px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.header .wrapper-top {
    background: #20242d;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header .wrapper-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .address {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

.header .contacts {
    display: flex;
    justify-content: space-between;
}

.header .contacts li {
    margin-right: 56px;
}

.header .contacts li:last-child {
    margin-right: 0;
}

.header .contacts a {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

.header .wrapper-bottom {
    background: #ffffff;
    padding-top: 12px;
    padding-bottom: 11px;
}

.header .wrapper-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navigation ul {
    display: flex;
    align-items: center;
}

.header .navigation li {
    margin-right: 56px;
}

.header .navigation li:last-child {
    margin-right: 0;
}

.header .navigation a {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
}

.header .navigation .active {
    color: #ff7129;
}

.start-screen {
    background-image: url('../images/start-screen-maim-bg.jpg');
    padding-top: 270px;
    padding-bottom: 138px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.start-screen .main-title {
    font-size: 92px;
    font-style: normal;
    font-weight: 700;
    line-height: 111px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.start-screen .slogan {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    max-width: 508px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 59px;
}

.start-screen .btn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 106px;
}

.start-screen .btn-scroll {
    background: rgba(123, 126, 133, 0.4);
    width: 46px;
    height: 46px;
    border-radius: 46%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-info {
    background: #ffffff;
    padding-top: 132px;
    padding-bottom: 115px;
    background-image: url('../images-PNG/main-content-image-bg.png');
    background-position: -36px 0;
    background-size: 1400px 1055px;
    background-repeat: no-repeat;
}

.main-info .container {
    display: flex;
    padding-left: 163px;
    padding-right: 150px;
}

.main-info-title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
}

.main-info img {
    margin-right: 65px;
}

.main-info-content {
    width: 535px;
    padding-top: 69px;
}

.main-info .title {
    margin-top: 0;
    margin-bottom: 64px;
}

.main-info-content p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
}

.footer .wrraper-top {
    background: #20242d;
}

.footer .wrraper-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 52px;
}

.footer .navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .navigation li {
    margin-right: 56px;
}

.footer .navigation li:last-child {
    margin-right: 0;
}

.footer .wrraper-navigation .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid rgba(123, 126, 133, 0.3);
}

.footer .navigation a {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

.footer .navigation .active {
    color: #ff7129;
}

.footer .wrraper-navigation {
    background: #20242d;
}

.footer .privace {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #7b7e85;
}

.footer .secur-data {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #7b7e85;
}

.start-screen-about h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

.start-screen-about {
    /* For testing */
    background: #777;
}

.start-screen-about p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
}

.our-location h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
}

.our-location p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #7b7e85;
}

.our-location a {
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
}

.start-screen-instalacja {
    /* For testing */
    background: #777;
}

.start-screen-instalacja h1 {
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 87px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
}

.instalation-content h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
}

.instalation-content p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
}

.instalation-content .list-instalacja a {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
}

.instalation-content .list-instalacja li {
    background: rgba(242, 242, 242, 1);
}

.instalation-content .content-article-3 .dark-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
}

.instalation-content .content-article-3 .info {
    background: #f5f5f5;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.instalation-content .content-article-7 {
    background: #f2f2f2;
}
