/* Подключаем шрифты */
@font-face {
    font-family: 'Gilroy';
    src: url(../fonds/gilroy-bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonds/gilroy-semibold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonds/gilroy-regular.ttf);
    font-weight: 400;
}

/*
    определяем для всего тела документа 
    одно семейство шрифтов
*/
body {
    font-family: 'Gilroy';
    margin: 0;
}

/*убираем все отступы по умолчанию во всех кнопках*/
button {
    padding: 0;
    border: 0;
}

/*убираем все отступы по умолчанию во всех списках*/
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*убираем декорации по умолчанию ссылок*/
a {
    text-decoration: none;
}

/* Стили кнопок */
.btn {
    background: #ff7129;
    box-shadow: 0px 4px 28px 0px #ff71294a;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    display: block;
    padding: 16px 45px;
}

.btn-dark {
    background-color: #20242d;
    border: 1px solid #ff7129;
    box-sizing: border-box;
    box-shadow: 0px 4px 28px 0px #ff7129ab;
}

/*главный контейнер центровщик*/
.container {
    width: 100%;
    max-width: 1600px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.header .wrapper-top {
    background: #20242d;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header .wrapper-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .address {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

.header .contacts {
    display: flex;
    justify-content: space-between;
}

.header .contacts li {
    position: relative;
    margin-right: 56px;
    padding-left: 22px;
}

.header .contacts svg {
    position: absolute;
    top: 4px;
    left: 0px;
}

.header .contacts li:last-child {
    margin-right: 0;
}

.header .contacts a {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

.header .wrapper-bottom {
    background: #ffffff;
    padding-top: 12px;
    padding-bottom: 11px;
}

.header .wrapper-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navigation ul {
    display: flex;
    align-items: center;
}

.header .navigation li {
    margin-right: 56px;
}

.header .navigation li:last-child {
    margin-right: 0;
}

.header .navigation a {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
}

.header .navigation .active {
    position: relative;
    color: #ff7129;
}

.header .navigation .active::before {
    position: absolute;
    content: '';
    display: block;
    width: 10px;
    height: 1px;
    background-color: #ff7129;
    top: 8px;
    left: -15px;
}

.header .navigation .active::after {
    position: absolute;
    content: '';
    display: block;
    width: 10px;
    height: 1px;
    background-color: #ff7129;
    top: 8px;
    right: -15px;
}

.start-screen {
    background-image: url('../images/start-screen-maim-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.start-screen .container {
    position: relative;
    padding-top: 270px;
    padding-bottom: 138px;
}

.start-screen .main-title {
    font-size: 92px;
    font-style: normal;
    font-weight: 700;
    line-height: 111px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.start-screen .slogan {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    max-width: 508px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 59px;
}

.start-screen .btn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 106px;
}

.start-screen .btn-scroll {
    background: rgba(123, 126, 133, 0.4);
    width: 46px;
    height: 46px;
    border-radius: 46%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.start-screen .decor-word {
    position: absolute;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 145px;
    letter-spacing: 0em;
    text-align: left;
    color: transparent;
    text-transform: uppercase;
    top: 163px;
    left: 50px;
}

.start-screen .decor-word-2 {
    position: absolute;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 145px;
    letter-spacing: 0em;
    text-align: left;
    color: transparent;
    text-transform: uppercase;
    bottom: 282px;
    right: 50px;
}

.main-info {
    background: #ffffff;
    padding-top: 132px;
    padding-bottom: 115px;
    background-image: url('../images-PNG/main-content-image-bg.png');
    background-position: -36px 0;
    background-size: 1400px 1055px;
    background-repeat: no-repeat;
}

.main-info .container {
    display: flex;
    padding-left: 163px;
    padding-right: 150px;
}

.main-info .main-info-content .decor-word {
    position: absolute;
    -webkit-text-stroke: 1px rgba(32, 36, 45, 0.1);
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: 0em;
    text-align: left;
    color: transparent;
    text-transform: uppercase;
    top: 0px;
    left: -29px;
}

.main-info .main-info-title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
}

.main-info img {
    margin-right: 65px;
}

.main-info-content {
    position: relative;
    width: 535px;
    padding-top: 69px;
}

.main-info .main-info-title {
    position: relative;
    margin-top: 0;
    margin-bottom: 64px;
    padding-left: 16px;
}

.main-info .main-info-title::before {
    position: absolute;
    content: '';
    display: block;
    height: 52px;
    width: 1px;
    background-color: #ff7129;
    top: 0px;
    left: 0px;
}

.main-info-content p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
}

.footer .wrraper-top {
    background: #20242d;
}

.footer .wrraper-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 52px;
}

.footer .navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .navigation li {
    margin-right: 56px;
}

.footer .navigation li:last-child {
    margin-right: 0;
}

.footer .wrraper-navigation .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid rgba(123, 126, 133, 0.3);
}

.footer .navigation a {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

.footer .navigation .active {
    color: #ff7129;
}

.footer .wrraper-navigation {
    background: #20242d;
}

.footer .privace {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #7b7e85;
}

.footer .secur-data {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #7b7e85;
}

.pop-up {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding-top: 72px;
    padding-right: 58px;
    padding-bottom: 51px;
    padding-left: 58px;
}

@keyframes fadeIn {
    0% {
        transform: translate(-50%, -2000px);
    }
    50% {
        transform: translate(-50%, 0%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

.pop-up-show {
    display: block;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.pop-up .pop-up-close {
    position: absolute;
    top: 22px;
    right: 22px;
    background-color: transparent;
}

.pop-up .pop-up-title {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    display: block;
    margin-bottom: 16px;
}

.pop-up .pop-up-dscr {
    margin-bottom: 56px;
}

.pop-up form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.pop-up form label {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #7b7e85;
    margin-bottom: 24px;
}

.pop-up form input {
    display: block;
    border: 1px solid #e0e0e0;
    padding: 16px 24px;
    margin-top: 12px;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
    min-width: 327px;
    box-sizing: border-box;
}

.pop-up form input::placeholder {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #7b7e85;
}

.pop-up form .pop-up-btn {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 28px;
}

.start-screen-about h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

/* нуждается в проверке */
.start-screen-about {
    background-image: url('../images/about-us-bg-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.start-screen-about .container {
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
    padding-bottom: 103px;
    padding-left: 217px;
    margin-top: 0;
    margin-bottom: 0;
}

.start-about-info {
    background-image: url('../images-PNG/about-us-info-bg.png');
    background-position: -2px -14px;
    background-size: 1401px 639px;
    background-repeat: no-repeat;
}

.start-about-info .container {
    display: flex;
    justify-content: space-around;
    padding-left: 200px;
    padding-right: 266px;
    padding-top: 80px;
    padding-bottom: 184px;
}

.start-about-info .container-right {
    width: 534px;
    padding-right: 66px;
}

.start-about-info .container-left {
    width: 534px;
    padding-left: 80px;
}

/* нуждается в проверке */

.our-location h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
}

.our-location p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #7b7e85;
}

.our-location a {
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
}

.start-screen-instalacja {
    /* For testing */
    background: #777;
}

.start-screen-instalacja h1 {
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 87px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
}

.instalation-content h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
}

.instalation-content p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
}

.instalation-content .list-instalacja a {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
}

.instalation-content .list-instalacja li {
    background: rgba(242, 242, 242, 1);
}

.instalation-content .content-article-3 .dark-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
}

.instalation-content .content-article-3 .info {
    background: #f5f5f5;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.instalation-content .content-article-7 {
    background: #f2f2f2;
}
